@import "tailwindcss";

* {
  /* border: 1px solid black; */
}

body {
  @apply font-inter;
}

:root {

  --background: #ffffff;
  @apply scroll-smooth text-gray-700
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);

  --text-1: 16px;
  --text-sx: var(--text-1);

  --color-orange-1: #FF8800;
  --color-gray-1: #F4F4F4;
  --color-gray-2: #D4D4D4;
  --color-gray-3: #A6A6A6;
  --color-gray-4: #636363;
  --color-gray-5: #2A2A2A;
  --color-gray-6: #202020;

  --animate-wiggle: wiggle 2s ease-in-out;
  --animate-fade: fade .7s ease-in-out;
  --animate-fade-up: fade-up .7s ease-in-out;
  --animate-fade-left: fade-left .3s ease-in-out;
  --animate-fade-up-infinite: fade-up .7s ease-out 2s infinite;
  --animate-fade-down: fade-down .3s ease-out;
  --animate-open: ani-open .3s ease-out;
  --animate-loading: loading 6s ease-out;

  @keyframes loading {
    0% {
      transform: ScaleX(0);
      opacity: 1;
    }

    100% {
      transform: ScaleX(1);
      opacity: 1;
    }
  }

  @keyframes wiggle {
    0% {
      transform: rotate(-3deg);
    }

    100% {
      transform: rotate(3deg);
    }
  }

  @keyframes ani-open {
    0% {
      transform: Scale(0)
    }

    100% {
      transform: Scale(1)
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade-left {
    0% {
      opacity: 0;
      transform: translateX(100%)
    }

    100% {
      opacity: 1;
      transform: translateX(0)
    }
  }

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(20%)
    }

    100% {
      opacity: 1;
      transform: translateY(0)
    }
  }

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-100%)
    }

    100% {
      opacity: 1;
      transform: translateY(0)
    }
  }
}

body {
  @apply text-sx font-inter
}

h1 {
  @apply text-4xl font-bold
}

h2 {
  @apply text-xl font-bold
}